article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
{
    display:block
}
audio,canvas,video
{
    display:inline-block
}
audio:not([controls])
{
    display:none;
    height:0
}
[hidden]
{
    display:none
}
html
{
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
body
{
    margin:0
}
a:focus
{
    outline:none
}
a:active,a:hover
{
    outline:none
}
h1
{
    font-size:2em;
    margin:0.67em 0
}
abbr[title]
{
    border-bottom:1px dotted
}
b,strong
{
    font-weight:600
}
dfn
{
    font-style:italic
}
hr
{
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}
mark
{
    background:#ff0;
    color:#000
}
code,kbd,pre,samp
{
    font-family:monospace, serif;
    font-size:14px
}
pre
{
    white-space:pre-wrap
}
q
{
    quotes:"\201C" "\201D" "\2018" "\2019"
}
small
{
    font-size:80%
}
sub,sup
{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup
{
    top:-0.5em
}
sub
{
    bottom:-0.25em
}
img
{
    border:0
}
svg:not(:root)
{
    overflow:hidden
}
figure
{
    margin:0
}

legend
{
    border:0;
    padding:0
}
button,input,select,textarea
{
    font-family:inherit;
    font-size:100%;
    margin:0
}
button,input
{
    line-height:normal
}
button,select
{
    text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]
{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]
{
    cursor:default
}
input[type="checkbox"],input[type="radio"]
{
    box-sizing:border-box;
    padding:0
}
input[type="search"]
{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner
{
    border:0;
    padding:0
}
textarea
{
    overflow:auto;
    vertical-align:top
}
table
{
    border-collapse:collapse;
    border-spacing:0
}
body
{
    font-family:"proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
    font-size:16px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    line-height:140%
}
#header
{
    font-weight:300
}
h1,h2,h3,h4,h5
{
    line-height:normal;
    margin-top:0
}
h1,h2,h3
{
    font-weight:400
}
h4,h5
{
    font-weight:600
}
h1.sub,h2.sub,h3.sub,h4.sub,h5.sub
{
    margin-bottom:10px
}
h1
{
    font-size:38px
}
h2
{
    font-size:28px
}
h3
{
    font-size:24px
}
h4
{
    font-size:18px
}
h5
{
    font-size:16px
}
table.listing tbody td,.tab-contents>div
{
    line-height:140%;
    font-size:16px
}
p.enhanced
{
    font-size:16px;
    font-weight:300;
    line-height:140%;
    margin-top:0
}
p.sub
{
    margin-top:5px;
    color:#999999
}
.button-normal
{
    border:0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:18px;
    font-weight:400;
    padding:20px 40px;
    text-decoration:none;
    color:white;
    background:#398bce;
    color:white
}
.button-normal.small
{
    font-size:12px;
    font-weight:200;
    padding:2px 10px
}
.button-normal:hover
{
    color:white
}
.button-normal:hover
{
    background:#2d6ea3
}
.button-alternate
{
    border:0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:18px;
    font-weight:400;
    padding:20px 40px;
    text-decoration:none;
    color:white;
    background:#999999;
    color:white
}
.button-alternate.small
{
    font-size:12px;
    font-weight:200;
    padding:2px 10px
}
.button-alternate:hover
{
    color:white
}
.button-alternate:hover
{
    background:#444444;
    color:white
}
.button-create
{
    border:0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:18px;
    font-weight:400;
    padding:20px 40px;
    text-decoration:none;
    color:white;
    background:#7dc36b;
    color:white
}
.button-create.small
{
    font-size:12px;
    font-weight:200;
    padding:2px 10px
}
.button-create:hover
{
    color:white
}
.button-create:hover
{
    background:#5eb348;
    color:white;
}
.linkish
{
    text-decoration:none;
    color:#398bce;
    border:none;
    background:none;
    padding:0
}
.new-key-gen
{
    float:right;
    position:relative;
    top:-12px
}
input,input[type="submit"],select,textarea
{
    outline:none
}
input[type="submit"]
{
    border:none
}
.pagination-holder
{
    width:100%;
    padding:20px 0;
    text-align:center;
    clear:left
}
.pagination-holder .pagination-wrap
{
    display:inline-block
}
.pagination-holder .prev,.pagination-holder .next
{
    text-transform:uppercase;
    color:#3A3A3A;
    font-weight:500;
    padding:10px 20px;
    font-size:15px;
    display:inline-block;
    position:relative;
    letter-spacing:.3px
}
.pagination-holder .prev.disabled,.pagination-holder .next.disabled
{
    opacity:.2;
    cursor:default
}
.pagination-holder a.page
{
    display:inline-block;
    margin-right:6px;
    background:#f6f6f6;
    color:#a6a6a7;
    height:43px;
    width:43px;
    text-align:center;
    line-height:45px;
    font-weight:400;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:18px;
    -moz-transition:all, 0.2s, ease-in-out;
    -o-transition:all, 0.2s, ease-in-out;
    -webkit-transition:all, 0.2s, ease-in-out;
    transition:all, 0.2s, ease-in-out
}
.pagination-holder a.page.active
{
    background:#00a9db;
    color:white
}
.pagination-holder a.page:hover
{
    background:#e8e8e8;
    color:#8a8a8a
}
.pagination-holder a.page.active:hover
{
    background:#00a9db;
    color:white
}
.pagination-holder span
{
    display:inline-block;
    padding:0 20px 0 14px;
    margin-top:14px;
    font-weight:800;
    font-size:22px
}

h1,h2
{
    font-weight:300;
    color:#333333
}
h3,h4,h5
{
    color:#333333
}
a
{
    text-decoration:none;
    outline:0;
    color:#398BCE
}
a:hover
{
    outline:0
}
a:focus,a:active
{
    outline:0
}
pre
{
    background:#f8f8f8;
    border:1px solid #e3e3e3;
    padding:15px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    color:#333333
}
#container,#content
{
    height:100%
}
#content .contents
{
    min-height:100%
}
.spacer
{
    clear:both
}
.contents
{
    overflow:hidden;
    *zoom:1;
    width:100%;
    position:relative
}
.collapse
{
    position:relative;
    height:0;
    overflow:hidden;
    -moz-transition:height 0.35s ease;
    -o-transition:height 0.35s ease;
    -webkit-transition:height 0.35s ease;
    transition:height 0.35s ease
}
.collapse.invert
{
    background-color:#4c4c4c;
    color:white
}
.collapse.invert h4
{
    color:white
}
.collapse.in
{
    height:auto;
}
.label
{
    padding:1px 4px 2px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    vertical-align:middle;
    font-weight:bold;
    line-height:13px;
    font-size:13px
}

.navbar-collapse {
    border:0;
}























#content table
{
    border-collapse:collapse;
    border:1px solid #e7e7e7;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:16px;
    width:100%;
    text-align:center
}
#content table thead
{
    font-weight:600
}
#content table thead th
{
    padding:15px;
    border-bottom:1px solid #e7e7e7;
    text-align:center
}


#content table tbody tr td
{
    padding:15px;
    border-bottom:1px solid #e7e7e7;
}
#content table tbody tr td.w250
{
    width:220px
}

#content table tbody tr:nth-child(odd) td
{
    background-color:#fcfcfc
}
#content table .icon.view
{
    background-color:#398bce;
    height:25px;
    width:26px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    float:right;
    margin:0 5px 0 0
}

#content table.ptr th:last-child
{
    text-align:right
}
#content table.billing-history tr td:first-child,#content table.billing-history tr th:first-child
{
    width:150px
}
#content table.billing-history tr td:first-child,#content table.billing-history tr td:nth-child(2),#content table.billing-history tr th:first-child,#content table.billing-history tr th:nth-child(2)
{
    text-align:left
}
#content table.billing-history tr td:nth-child(3),#content table.billing-history tr th:nth-child(3)
{
    width:110px
}
